program:
    log: "/config/log"
    debug:
directories:
    state: "/config/rffmpeg"
    persist: "/run"
    owner: root
    group: root
remote:
    user: root
    persist:
    args:
        - "-i"
        - "/config/rffmpeg/.ssh/id_ed25519"
commands:
    ssh:
    pre:
    ffmpeg:
    ffprobe:
    fallback_ffmpeg:
    fallback_ffprobe:
    special_flags:
database:
    type: sqlite
    path: "/config/rffmpeg/db"
    host:
    port:
    name:
    username:
    password: